img {
    height: 600px;
    width: 600px;
    margin: 0px;
    padding: 0px;
    display: block;
  }
  
  .frame {
    height: 600px;
    width: 600px;
    border: black solid 5px;
    overflow: hidden;
    /* white-space: nowrap; */
    position: relative;
    /* background-color: black; */
  }
  
  .ribbon {
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;        
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    gap: 10px;
  }

  button {
    height: 70px;
    width: 50px;
  }

.img-indicator {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border: black 1px solid;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.img-circle {
  height: 20px;
  width: 20px;
  background-color: purple;
  border-radius: 50%;
}

.img-active {
  background-color: green !important;
}