img {
    height: 600px;
    width: 600px;
    margin: 0px;
    padding: 0px;
    display: block;
  }
  
  .frame {
    height: 600px;
    width: 600px;
    border: black solid 5px;
    overflow: hidden;
    /* white-space: nowrap; */
    position: relative;
    /* background-color: black; */
  }
  
  .ribbon {
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;        
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    gap: 10px;
  }

  button {
    height: 70px;
    width: 50px;
  }